
language: node_js

env:
     - DB=postgresql://postgres@localhost:5432/registrations
node_js:  
        - "8.9.4"
        
before_script:
  - psql -c 'create database  registrations;' -U postgres
  - node ./Registration_Numbers.js -d postpresql://postgres@localhost:5432/registrations

addons:
    apt:
    packages:
    - postgresql-server-dev-9.2




   