
language: node_js
env:
    # - DB=coder://coder123@localhost:5432/registrations
node_js:  
        - "8.9.4"
        
before_script:
  - psql -c 'create database travis;' -U postgres
  - psql -c 'create database registrations;' -U postgres
  - psql -c '\i registrationdb-script.sql;' -U postgres
  - node ./Registration_Numbers.js -d postgresql://travis@localhost:5432/registrations

addons:
    apt:
    packages:
    - postgresql-server-dev-9.2




   