
language: node_js
env:
    - DB=postgres://postgres@localhost/registrations
node_js:  
        - "8.9.4"
        
before_script:
  - psql -c 'create database registrations;' -U postgres
  - node ./test/Registration_Numbers.js -d postgres://postgres@localhost/registrations

addons:
    apt:
    packages:
    - postgresql-server-dev-9.2




   